<%-
base_url = Redmine::Utils.relative_url_root
content_url = base_url + "/issue_badge/load_badge_contents"
%>
<% if @all_issues_count %>
    <div id="issue_badge">
      <li class="starting_point">
        <%= link_to({controller:"projects", action:"prj", id:"issues"}, {id:"link_issue_badge", style:"cursor: pointer"}) do %>
            <span id="issue_badge_number" class="badge"><%= @all_issues_count %></span>
        <% end %>
      </li>
    </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function () {
    change_badge_location();
  });
  $(window).resize(function () {
    change_badge_location();
  });
</script>
